In [3]:
import sys
import numpy as np
from datascience import *
import math

In [29]:
cpi = Table().read_table("PI.csv").relabeled(1, "CPI")
#must find inflation RATES from CPI
r = Table().read_table("R.csv")
#must change R.csv bc so many holes
unemployment = Table().read_table("UNRATE.csv").relabeled(1, "unemployment rate")
potential_output = Table().read_table("Y*.csv").relabeled(1, "Y*")
output = Table().read_table("Y.csv").relabeled(1, "Y")
gdp = output.join("DATE", potential_output)

In [31]:
gdp

DATE       | Y     | Y*
1949-01-01 | 275.4 | 2011.3
1949-04-01 | 271.7 | 2038.1
1949-07-01 | 273.3 | 2065.2
1949-10-01 | 271   | 2092.6
1950-01-01 | 281.2 | 2120.1
1950-04-01 | 290.7 | 2147.2
1950-07-01 | 308.5 | 2174.7
1950-10-01 | 320.3 | 2202.5
1951-01-01 | 336.4 | 2230.8
1951-04-01 | 344.5 | 2260.7
... (262 rows omitted)