In [19]:
from datascience import *
import numpy as np
master = Table().read_table("Re-Plate.csv")
master = master.with_column("Driver", ["Matthew Stephanovich" if x == "Matthew Stepanovich" else x for x in master.column(0)])
master = master.with_column("Driver", [ x.replace("0", "o") for x in master.column(0)])
master

Driver               | Donor 0me                       | Pickup Fee | Miles Traveled | Driver Costs | Pounds Recovered | Meals Delivered
Kelly Marumoto       | Beepi                           | $10.00     | 0              | nan          | 0                | 0
Philip Stith         | thoughtspot                     | $10.00     | 3.2            | nan          | 25               | 21
Kelly Marumoto       | OpenGov                         | $10.00     | 0              | nan          | 0                | 0
Maen Mahfoud         | Yelp                            | $10.00     | 2.7            | nan          | 0                | 0
Kelly Marumoto       | R: CityTeam Ministries San Jose | nan        | 0              | -14          | nan              | nan
Matthew Stephanovich | R: Pier 80                      | nan        | 2              | -11.6        | nan              | nan
Kelly Marumoto       | OD: Origami Logic               | $10.00     | 0              | nan          | 60               | 50
Matthew Stephanovich | R: Saint Vincent de Paul        | nan        | 0              | -12          | nan              | nan
Maen Mahfoud         | OD: Open DNS                    | $10.00     | nan            | nan          | nan              | nan
Maen Mahfoud         | R: Saint Vincent de Paul        | nan        | 3.3            | nan          | nan              | nan
... (5024 rows omitted)

In [22]:
def remove_duplicates(arr):
    ans = []
    for i in arr:
        if i not in ans and i != "nan":
            ans.append(i)
    return ans

In [25]:
drivers = Table().with_column("Driver", remove_duplicates(master.column(0)))
drivers.to_csv("drivers.csv")

In [35]:
donors_and_shelters = remove_duplicates(master.column(1))
donors_only = []
shelters_only = []
for name in donors_and_shelters:
    if "R: " in name or "Shelter" in name:
        shelters_only.append(name)
    else:
        donors_only.append(name)

In [38]:
donors = Table().with_columns("Donor",donors_only)
shelters = Table().with_columns("Shelter", shelters_only)
donors.to_csv("donors.csv")
shelters.to_csv("shelters.csv")